@inherits LayoutComponentBase
@using app.Components

<main class="w-screen h-screen grid grid-rows-[60px_1fr_40px]">
    <section>
        <Header></Header>
    </section>
    <section class="bg-red-400">
        @Body
    </section>
    <section>
        <Footer></Footer>
    </section>
</main>