@using Iconify

<main class="w-[32px] h-[32px] bg-white/[.3] rounded-lg flex justify-center items-center">
    <Iconify i-class="fill-current text-white" Icon="ic:baseline-auto-awesome"></Iconify>
</main>