@using Iconify
@using Iconify.Extensions

<main @attributes="@Attributes" class="group w-[32px] h-[32px] p-[6px] bg-white/[.3] rounded-lg flex justify-center items-center @Attributes.Get("class")" style="@Attributes.Get("style")">
    <Iconify i-class="fill-current text-white w-full h-full" Icon="@Icon"></Iconify>
</main>