<main class="group p-3">
    <input class="group-focus:text-white text-gray-600 bg-transparent caret-white outline-none border-none"
           type="text" placeholder="@Placeholder" value="@Value">
</main>