@page "/"
@using System.Reflection
@using System.Runtime.Loader
@using app.Services.Extension
@using Sumit.Extension
@using Sumit.Extension.Extensions

<h1 class="text-white text-5xl">Hello, world!</h1>

@if (_componentType is not null)
{
    <DynamicComponent Type="_componentType"/>
}

@code {

    private Type? _componentType;

    [Inject] public HttpClient HttpClient { get; set; } = null!;
    [Inject] public ExtensionManager Extensions { get; set; } = null!;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Extensions.LoadExtensions();
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Home init: " + HttpClient.BaseAddress.AbsoluteUri);

        @* try
        {
            var msg = new HttpClient().GetStreamAsync(HttpClient.BaseAddress.AbsoluteUri + "Finder.dll");
            //var msg = httpClient.GetStreamAsync("file:///C:/Library/DynamicLibrary.dll"); 
            var stream = msg.Result;
            var assembly = AssemblyLoadContext.Default.LoadFromStream(stream);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        } *@
    }

}