@page "/"
@using Microsoft.JSInterop

@if (_componentType is not null)
{
    <DynamicComponent Type="_componentType"/>

    <button class="text-white" @onclick="UnloadExtension">Unload current extension</button>
}